---
import type { IHeroData } from "../libs/type.d.ts"

interface Props {
	HeroData :IHeroData
}

const {HeroData} = Astro.props
const {paragraph, image} = HeroData
const {head, subhead, text, btn} = paragraph
---

<section class="lg:h-[80vh] relative mt-24">
  <div class="2xl:max-w-screen-xl xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-w-screen-sm m-auto h-full flex md:flex-row flex-col">
    <div class="md:w-1/2 w-full flex justify-start items-center h-full pr-10 px-6">
      <div class="z-10 my-10">
        <h1 class="text-[color:var(--accent)] font-medium lg:text-6xl sm:text-5xl text-4xl mb-5">{head.first}<span class="block italic">{head.second}</span></h1>
        <p class="lora font-medium italic text-2xl mb-8">{subhead}</p>
        <p class="mb-10">{text}</p>
        <button class="center py-2 px-12 rounded-full bg-[var(--accent)] text-white font-bold">{btn}</button>
      </div>
      <img class="object-cover h-full w-1/2 absolute left-0 z-0 md:block hidden"  src={image.main2} alt="">
    </div>
    <div class="md:w-1/2 w-full">
      <img class="object-cover h-full w-full md:w-1/2 md:absolute" src={image.main} />
    </div>
  </div>
</section>